@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Creepster', cursive;
}

.portada{
    background-color: black;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(7, 1fr) ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-areas: 
        "cja1   cja1   cja1   cja2   cja2   cja2   cja0"
        "cja1   cja1   cja1   cja2   cja2   cja2   cja0"
        "cja1   cja1   cja1   cja2   cja2   cja2   cja0"
        "cja1   cja1   cja1   cja2   cja2   cja2   cja0"
        "cja1   cja1   cja1   cja2   cja2   cja2   cja0"
        ;  
    column-gap: 10px;
    padding-inline: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

    
}

.portada > div {
    display: flex;
    justify-content: center;
    align-items: center;
}



.cja0{
    grid-area: cja0;
    background-color: rgba(190, 94, 94, 0.997);
    background-image: url(../templace/logo0.png );
    background-repeat: no-repeat , no-repeat;
    background-position: center;
    background-size: 100px;
    border-radius: 10px;
    

   
}
.cja1 {
    grid-area: cja1;
    height: 100%;
    background-image: url(../templace/mujer2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.cja2{
    grid-area: cja2;
    height: 100%;
    background-image: url(../templace/hombre1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    
}

.cajitas{
    color: rgb(190, 94, 94);
    border-radius: 20px;
    -webkit-text-stroke: 0.1px black;
}

@media screen and (max-width: 480px) {
    .portada{
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
        grid-template-areas: 
            "cja0 "
            "cja1 "
            "cja1 "
            "cja1 "
            "cja1 "
            "cja2 "
            "cja2 "
            "cja2 "
            "cja2 ";
        column-gap: 10px;
        padding-inline: 5px;
        padding-top: 5px;
        padding-bottom: 5px;}
    .cja0{
    background-image: url(../templace/logo.png );}
    .cja1 {
        grid-area: cja1;
        background-image: url(../templace/mujer1.jpg);

    }
    .cja2{
        grid-area: cja2;
        background-image: url(../templace/hombre2.jpg);

    }
    
    

}